.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 9999;

  @media screen and (max-width: 700px) {
    left: unset;
  }
  @media screen and (max-width: 350px) {
    left: unset;
  }

  .modal-container {
    position: absolute;
    min-width: 144px;
    height: auto;
    width: 100%;
    max-width: 391px;
    background: grey url("../../public/assets/images/comparison.webp") center
      center no-repeat;
    background-size: cover;
    min-height: 300px;
    max-height: 90vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 0.5rem;
      z-index: 1;
    }
    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      background-color: rgba($color: #676767, $alpha: 0.6);
      z-index: 1;
    }

    .modal-actions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .modal-content {
      position: relative;
      z-index: 2;
    }
    &.max-width {
      width: 100%;
      max-width: 800px;
      min-width: 200px;
    }

    @media screen and (max-width: 700px) {
      &.max-width {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
      }
    }
    @media screen and (max-width: 350px) {
      &.max-width {
        width: 100%;
        max-width: 300px;
        min-width: 200px;
      }
    }
  }
}
