.floating {
  position: relative;
  width: 100%;
  max-width: 400px;
  justify-self: center;

  .floating-label {
    color: white;
    background: transparent;
    font-weight: 600;
    position: absolute;
    left: 0.5rem;
    top: -0.5rem;
    z-index: 10;
    @media screen and (max-width: 700px) {
      z-index: 1;
      top: -1.2rem;
    }
  }
}
