@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars,
#stars2,
#stars3 {
  position: absolute; // Make sure stars are positioned absolutely
  background: transparent;
  animation: animStar linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh; // Start from the bottom of the viewport
    background: transparent;
  }
}

// Individual star styles
#stars {
  width: 1px;
  height: 1px;
  box-shadow: $shadows-small;
  animation-duration: 50s;
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation-duration: 100s;
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: $shadows-big;
  animation-duration: 150s;
}

@keyframes animStar {
  from {
    transform: translateY(0); // Start at the bottom
  }
  to {
    transform: translateY(-100vh); // Move to the top of the viewport
  }
}
